body{
    background-image: url("b2.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: left;
    margin: 0;
    padding: 0;
    height: 100%;
	


}
#header{
    border: 2px solid rgba(249, 225, 183, 0.68);
    background-image: url("123.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #195d67;

}
#header h1{
    margin-top: 75px;
    margin-left: 80px;
    text-shadow:1px 2px 5px white;
	font-family: Century;
    font-size: 60px;
}

#header h1:hover{
    color: darkslategrey;
    text-shadow: 1px 2px 5px greenyellow;

}

#header #list li{
    list-style-type: none;
    display: inline-block;
    color: #008b66;
    margin-left: 40px;
    font-family: "Berlin Sans FB Demi";
    font-size: 25px;
    text-shadow: 1px 1px 2px #3cbd79;


}
#header #list{
    margin-left: 90px;
}
#bottom li{
    border: 1px solid seagreen;
    border-radius: 10px;
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    font-family: "Arial Narrow";
    font-size: 20px;
    background-color: #3d8d99;
    margin-top: 115px;
    color: black;
    padding: 5px;

}
#bottom{
    margin-left: 70px;
}
#bottom li:hover{
    background-color: #9cebff;
    color: #008b66;
    /*font-size: 23px;*/
}
#cantent{
    /*border: 4px solid #e37f8e;*/

    border-radius: 25px;
    float: left;
    margin-right: 50px;
    width: 1050px;
    margin-top: 1px;

}

#cantent img{
    height: 50%;
    border: 1px solid black;
    border-radius: 50px ;
    /*float: right;*/
}
.can{
	
    float: left;
    border: 3px solid #195d67;
    border-radius: 20px;
    padding-top: 10px;
	


}
.can h1{
    background-color: pink;
    border: 1px solid pink;
    border-radius: 15px;
	text-align: center;
	
    
}
#text{
	
    border: 3px solid wheat;
    border-radius: 7px 7px 0 0;
    border-top: dashed;
    width: 600px;
    float: right;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
	background-color: #151515;
	/*columns: 200px 2;
	column-width:50 px;*/
	margin-top:20px;
    color: cadetblue;
	}
	#text p{
		font-family:tahoma;
		text-indent:10px;
		text-transform:capitalize;
        color: aliceblue;
	}
		
.asid{
    float: left;
    margin: 0;
	text-align: center;
    padding-top: 20px;
	
}
.asid img{
opacity:0.80;
}
.asid a{
    color: white;
	font-size: 25px;
	opacity: 0.90;
}
.can h5{
    color: aliceblue;
}
#row3 footer{
    border: 1px dashed darkgoldenrod;
    border-radius: 15px 15px 0 0 ;
    padding: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: black;


}
#row3 footer p{
    color: #cccccc;
    text-align: center;
    margin: 0;


}
#header img{
    float: right;
    margin: 20px 30px 0px 0px;
    border: 1px solid #cccccc;
    border-radius: 50px;

    width: 200px;
    height: 200px;
    background-color: #cccccc;

}
#header img:hover{
    width: 205px;
    height: 205px;

}
#right{
    border: 3px solid #195d67;
    border-radius: 15px;
    float: right;margin-top: 20px;
}
#right img{
    width: 220px;
    height: 220px;
    border: 1px solid white;
    border-radius: 10px;
}
#right h1{
    background-color: indianred;
    text-align: center;
    border: 1px solid pink;
    border-radius: 15px;
}
#right img:hover{
    width: 225px;
    height: 225px;
}
#right h1:hover{
    background-color: red;
    color: wheat;
}